USE [master]
GO
/****** Object:  Database [EmployeeCrud]    Script Date: 17-Dec-19 11:39:17 PM ******/
CREATE DATABASE [EmployeeCrud]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EmployeeCrud', FILENAME = N'E:\Programming Softwares\MSSQL14.SQLEXPRESS01\MSSQL\DATA\EmployeeCrud.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EmployeeCrud_log', FILENAME = N'E:\Programming Softwares\MSSQL14.SQLEXPRESS01\MSSQL\DATA\EmployeeCrud_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EmployeeCrud].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EmployeeCrud]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 17-Dec-19 11:39:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[EmpID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [varchar](50) NULL,
	[EmpCode] [varchar](20) NULL,
	[Mobile] [varchar](50) NULL,
	[Position] [varchar](50) NULL,
 CONSTRAINT [PK_Employees] PRIMARY KEY CLUSTERED 
(
	[EmpID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
